.container{
    max-width: 100%;
    margin: 0 0;
    background-color: black;
}

.panels{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.left{
    width: 25%;
    border-right: 1px solid white;
}

.middle{
    width: 50%;
    border-right: 1px solid white;
}

.right{
    width: 25%;
}