<nav class="navbar">
    <div class="container">
      <div class="brand">Chatuj.sk</div>
      <ul class="nav-links">
        <li>Kliky: {{ clickCount }}</li>
        <li>Znaky: {{ messageLength }}</li>
        <li>Čety: {{ chatInstancesLength }}</li>
        <li *ngIf="loggedInUser">
          Prihlásený užívateľ: {{ loggedInUser.firstName }}
          {{ loggedInUser.lastName }}
        </li>
        <li>Čas prihlásenia: {{ loginTime }}</li>
        <li><button (click)="logout()"
          class="logout">Logout</button></li>
      </ul>
    </div>
  </nav>