<div class="login-container">
    <h1>LOGIN</h1>
    <form (ngSubmit)="login()">
      <div>
        <label for="username">Prihlasovacie meno*:</label><br />
        <input
          type="text"
          id="username"
          class="usern"
          name="username"
          [(ngModel)]="username"
          required
        />
      </div>
      <br />
      <div>
        <label for="password">Heslo*:</label><br />
        <input
          [type]="showPasswordField ? 'text' : 'password'"
          id="password"
          class="passwd"
          name="password"
          [(ngModel)]="password"
          required
        />
      </div>
      <input type="checkbox" (click)="togglePasswordVisibility()" />Show
      Password<br />
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      <br />
      <button type="submit" class="login">Prihlásiť sa</button>
    </form>
  </div>
  